
#header {
  color:#fff;
  background-image: url("http://www.hdwallpaperia.com/wp-content/uploads/2013/12/Backgrounds-Wallpaper-For-HD.jpg");
  height:100px;
  width:50%;
  font-size:150%;
  float: left;
}

#login {
  font-size: 42%;
  height: 21px;
  color: #fff;
}

table{
  border-collapse: collapse;
}

table tr{
  font-size: 70%;
  border: 1px solid white;
}

#loggedIn{
  text-decoration: none;
  color: #fff;
  font-size: 60%;
  float: right;
  clear: right;
  display: inline-block;
  height: 15%;
  padding-top: 10px;
}

#loggedIn a{
  font-size: 70%;
  color: #fff;
}

#newUser{
  display: inline-block;
  float: right;
  clear: left;
  width: 100px;
  text-align:right;
  font-size: 50%;
}

#label{
  display: inline-block;
  float:right;
  clear:left;
  width: 80px;
  text-align: right;
}

#input{
  display: inline-block;
  float:right;
  width: 100px
}

#createNewUserInput{
  display: inline-block;
  float: center;
  width: 150px;
}

#createNewUserPage{
  width: 100%;
  height: 30px;
}

#createNewUser{
  display: inline-block;
  float:center;
  width: 100px;
  clear:left;
  text-align: left;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: #000000;
}

#nav{
  color: #fff;
  width: 100%;
  height: 20px;
}

#nav ul {
  list-style: none;
}

#nav ul li {
  width: 23%;
  color:#fff;
  float: left;
  border-left: 1px solid #fff;
  padding-left: 10%;
}

#nav ul li a{
  color: #fff;
  text-decoration: none;
}

#content{
  color: #fff;
}

#titles{
  text-decoration: underline;
  font-weight: bold;
}

#profile{
  width: 100%;
}

#profile ul{
  list-style: none;
}

#profile ul li{
  float:left;
  display:block;
  width:100%;
}

#profile ul li a{
  color:#fff;
  text-decoration: none;
}

#change{
  width:100%;
  float:center;
  padding: 50px;
  padding-top: 200px;
}
